body {
    font-family: sans-serif;
    max-width: 50vw;
    margin: 2em auto;
}

fieldset {
    margin-bottom: 1.5em;
    padding: 1em;
}

button {
    padding: 0.5em 1em;
}

h1 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* space between icon and text */
}

.crab-icon {
    width: 40px;
    /* adjust size as you like */
    height: auto;
}

#progress-container {
    display: none;
}

#progress-container div {
    display: flex;
    width: 100%;
    align-items: center;
    gap: .5em;
}

#progress-bar {
    flex-grow: 1;
    width: 100%;
}

#results-container {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    background-color: #f4f4f4;
    border-bottom: 2px solid #ddd;
    cursor: default;
}

table thead th {
    padding: 8px;
}

table thead th:hover {
    cursor: pointer;
    background-color: #eee;
}

table td {
    padding: 8px;
    border-bottom: 1px solid #eee;
}

table tbody tr:nth-child(even) {
    background-color: #fafafa;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

/* style id column values */
table tbody td:nth-child(1) {
  font-family: monospace;
  width: 8ch;
  white-space: normal;
  word-break: break-all;   
}

/* style score header */
table th:nth-child(3) {
    white-space: nowrap;
}

/* style score column values */
table tbody td:nth-child(3) {
    text-align: right;
}

