body {
    font-family: sans-serif;
    max-width: 600px;
    margin: 2em auto;
}

fieldset {
    margin-bottom: 1.5em;
    padding: 1em;
}

button {
    padding: 0.5em 1em;
}

h1 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* space between icon and text */
}

.crab-icon {
    width: 40px;
    /* adjust size as you like */
    height: auto;
}

#progress-container {
    display: none;
}
